$height_width_icon: 100px;
$container-width: 400px;
$container-height: 500px;

.create-card-form {
  position: relative;
  &__container {
    width: $container-width;
    height: $container-height;
    box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.075);
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    text-align: center;
    padding: 50px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &__loader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.267);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
    }
  }
  &__icon {
    position: absolute;
    top: calc(0px - (#{$height_width_icon}/ 2));
    right: 50%;
    margin-right: calc(0px - (#{$height_width_icon}/ 2));
    width: $height_width_icon;
    height: $height_width_icon;
    border-radius: 50%;
    background: rgb(254, 135, 138);
    background: linear-gradient(
      90deg,
      rgba(254, 135, 138, 1) 0%,
      rgba(254, 167, 120, 1) 100%
    );
    box-shadow: 5px 5px 5px rgba(254, 167, 120, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    i {
      color: white;
      font-size: 2rem;
    }
  }
}

.tag-container {
  max-height: 6rem;
  overflow: auto;
  margin-bottom: 1rem;
}

.tag-style {
  background-color: #e6e6e6;
  display: inline-flex;
  align-items: center;
  padding: 0px 5px;
  border-radius: 20px;
  justify-content: flex-start;
  margin: 5px;
  span {
    padding: 0 5px;
  }
}
