@font-face {
  font-family: Vazir;
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-FD.eot");
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-FD.woff2") format("woff2"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-FD.woff") format("woff"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Bold-FD.eot");
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Bold-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Black-FD.eot");
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Black-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Black-FD.woff2") format("woff2"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Black-FD.woff") format("woff"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Black-FD.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Medium-FD.eot");
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Medium-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Medium-FD.woff2") format("woff2"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Medium-FD.woff") format("woff"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Light-FD.eot");
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Light-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Light-FD.woff2") format("woff2"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Light-FD.woff") format("woff"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Thin-FD.eot");
  src: url("./Fonts/Vazir/Farsi-Digits/Vazir-Thin-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Thin-FD.woff2") format("woff2"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Thin-FD.woff") format("woff"),
    url("./Fonts/Vazir/Farsi-Digits/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: Vazir;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: rgb(221, 221, 221);
  padding: 5px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s all;
  &:hover {
    background-color: rgb(211, 211, 211);
  }
}
